<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="BoatClubConnection"
         connectionString="Data Source=172.16.214.1;Initial Catalog=WP14_ss223ck_BoatClub;User ID=appUser;Password=&quot;1Br@Lösen=rd?&quot;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>